.heading{
    text-align: center;
    margin-top: 3%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin-left: 30%;
    margin-top: 20px;
}

.cell{
    box-sizing: border-box;
    width: 10%;
    padding: 15px;
    border: 1px solid;
    text-align: center;
}

.btn{
    margin-top: 40px;
    margin-left: 230px;
    padding: 15px;
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid;
}

.person{
    padding:50%;
    border-radius: 50%;
}